.container {
    --input-border-color : var(--border-color);

    display              : inline-flex;
    align-items          : center;
    gap                  : var(--input-padding);
    background           : var(--bg-secondary);
    border-radius        : var(--input-radius);
    height               : var(--input-height);
    padding              : var(--input-padding);

    &.active {
        outline    : 1px solid var(--primary);
        background : color-mix(in srgb, var(--bg-main), var(--bg-main-foreground) 5%);

        &.noborder,
        &.outline {
            border-color : var(--primary);
        }
    }

    .input {
        width      : 100%;
        border     : 1px solid transparent;
        background : transparent;
        outline    : none;
    }

    &.error {
        --input-border-color : color-mix(in srgb, var(--border-color), var(--danger) 50%);
        background           : color-mix(in srgb, var(--bg-secondary), var(--danger) 5%);
    }

    &.success {
        --input-border-color : color-mix(in srgb, var(--border-color), var(--success) 50%);
        background           : color-mix(in srgb, var(--bg-secondary), var(--success) 5%);
    }

    &.small {
        --input-height  : var(--height-medium);
        --input-padding : var(--offset-small);
        --input-gap     : var(--offset-small);
        --input-radius  : var(--offset-small);

        input {
            font-size : .8rem;
        }
    }

    &.medium {
        --input-height  : var(--height-x-large);
        --input-padding : var(--offset-small);
        --input-gap     : var(--offset-small);
        --input-radius  : var(--offset-small);

        input {
            font-size : 1rem;
        }
    }

    &.large {
        --input-height  : var(--height-xxx-large);
        --input-padding : var(--offset-small);
        --input-gap     : var(--offset-medium);
        --input-radius  : var(--offset-small);

        input {
            font-size : 1.2rem;
        }
    }

    &.outline {
        border : 1px solid var(--input-border-color);
    }

    &.noborder {
        border : 1px solid var(--bg-secondary);
    }
}