.container {
    --card-bg     : var(--bg-secondary);
    --card-border : var(--border-color);

    background    : var(--card-bg);
    border        : 1px solid var(--card-border);

    &.small {
        padding       : var(--offset-small);
        border-radius : var(--offset-small);
    }

    &.medium {
        padding       : var(--offset-medium);
        border-radius : var(--offset-medium);
    }

    &.large {
        padding       : var(--offset-large);
        border-radius : var(--offset-large);
    }

    &.default {
        --card-bg     : var(--bg-secondary);
        --card-border : var(--border-color);
    }

    &.main {
        --card-bg     : var(--bg-main);
        --card-border : var(--border-color);
    }

    &.primary {
        --card-bg     : color-mix(in srgb, var(--bg-secondary), var(--primary) 10%);
        --card-border : color-mix(in srgb, var(--bg-secondary), var(--primary) 50%);
    }

    &.danger {
        --card-bg     : color-mix(in srgb, var(--bg-secondary), var(--danger) 10%);
        --card-border : color-mix(in srgb, var(--bg-secondary), var(--danger) 50%);
    }

    &.success {
        --card-bg     : color-mix(in srgb, var(--bg-secondary), var(--success) 10%);
        --card-border : color-mix(in srgb, var(--bg-secondary), var(--success) 50%);
    }

    &.gold {
        --card-bg     : color-mix(in srgb, var(--bg-secondary), var(--yellow) 10%);
        --card-border : color-mix(in srgb, var(--bg-secondary), var(--yellow) 50%);
    }
}